center(id=part._id)
  .card.text-center
  .card.text-white.bg-info.mb-3.text-center(style='max-width: 90rem;')
    h3.card-header
      | #{part.title}
    .card-body
      p.card-title.text-blue1 Content: #{part.content}
      p.card-text.text-blue1 Type: #{part.type}
      p.card-text.text-blue1 Category: #{part.category}
      p.upvotes-count.card-text.text-blue1 Likes: #{part.upvotes}
      p.downvotes-count.card-text.text-blue1 Dislikes: #{part.downvotes}
      button.btn.btn-success.updown(class="upvote-post" type='button' data-id=part._id) Like 
      button.btn.btn-danger.updown(class="downvote-post" type='button' data-id=part._id) Dislike
    .card-footer.text-muted
      p.text-white Date: #{part.date} 
      p.text-white @Copyright 2019 by CC's Inc. All rights reserved.
